body{
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 50px;
}
.name-light{
    color: orange;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.half-profile{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-profile img{
    width: 100%;
}